{
  "presets": [
    "vue-app"
  ],
  "env": {
    "test": {
      "presets": [
        "vue-app"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  },
  "plugins": [
    "es6-promise"
  ]
}
