{
    "presets": [
        "vue-app"
    ],
    "env": {
        "test": {
            "presets": ["vue-app"],
            "plugins": ["istanbul"]
        }
    },
    "plugins": [
        "transform-runtime"
    ]
}
